
 <div class="posts-cointainer">
  <div class="bookshelf-books-content">
    <h2 class ="posts-title">POSTS</h2>
    <div class="posts-containerbooks">
      <% @posts.each do |post| %>
        <%= link_to post, class: "post-card-link" do %>
          <div class="post-card">
            <div class="post-card-body">
              <h5 class="post-card-title"><%= post.title %></h5>
              <p class="post-card-description"><%= post.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
