
.individual-post-content {
  display: block;
  width: 100%;
  border-bottom: none;
  font-size: 1.6rem;
  line-height: 2.6rem;
  max-width: 950px;
  margin: 3rem auto;
}

.individual-post-body {
  // display: block;
  width: 100%;
  // border-bottom: none;
  line-height: 2.6rem;
  max-width: 950px;
  margin: 2rem auto;
  font-size: 1.6rem;
}
