// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts-cointainer {
  max-width: 950px;
  // display: block;
  // width: 100%;
  // border-bottom: none;
  // line-height: 2.1rem;
  padding: 1rem;
  margin: 0 auto;
}

.post-card-link {
  text-decoration: none;
}

.post-card {
  border: solid black;
  padding: 12px 16px;
  border-radius: 4px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  margin-bottom: 1.5rem;
}

.post-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: #3394F6;
  font-size: 1.8rem;
}

.post-card-description {
  font-size: 1.6rem;
  color: #000000;
}
