<header>
  <nav class="navbar">
    <div class="navbar-logo-container">
      <h1>
        <a href="/" class="navbar-logo">
          Juanes Bravo
        </a>
      </h1>
    </div>
    <ul class="nav-list active" id="navi-list">
      <li class="list-item">
        <%= link_to "About", about_path %>
      </li>
      <li class="list-item">
        <%= link_to "Writing", writing_path %>
      </li>
      <li class="list-item">
        <%= link_to "Podcast", podcast_path %>
      </li>
      <li class="list-item">
        <%= link_to "Bookshelf", books_path %>
      </li>
    </ul>
    <div class="menu" id="toggle-button">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>
  </nav>
</header>
