<div>
  <article class="about-content Content-styled">
    <section class="ResponsiveSection">
      <div class="ResponsiveSection-header">
        <h1>About Me</h1>
      </div>
      <div class="ResponsiveSection-body">
        <div>
          <p>
              I’m an engineering mananger with twelve years of engineering
              experience building world class products. I’m passionate about
              building products that redefine the limits of the web.
          </p>
          <p>
              I was one of Facebook's first frontend engineers and have
              contributed to groundbreaking projects like React,
              Relay.js and Draft.js.
          </p>
        </div>
      </div>
    </section>
    <h2>Work</h2>
    <section class = "ResumeItem ResponsiveSection ResponsiveSection-withDivider">
      <div class = "ResponsiveSection-header">
        <div>
          <h3>SYNAPBOX</h3>
          <div class="Text-metadata">Cofounder</div>
          <div class="Text-metadata">
            Aug 2016
            -
            Present
          </div>
        </div>
      </div>
      <div class="ResponsiveSection-body">
        <div>
          <p>
            I manage frontend teams supporting abc.net.au,
            and oversaw the to effort to modernise the ABC's frontend stack.
          </p>
          <ul>
            <li>
             Designed and led implementation of a React framework
             and continous delivery pipeline for ABC's suite of web products.
            </li>
            <li>
             Designed and led implementation of a React framework
             and continous delivery pipeline for ABC's suite of web products.
            </li>
            <li>
             Delivered AMP functionality that led to a massive
             boost to reach, greatly exceeding ABC News' yearly traffic goals.
            </li>
            <li>
             Hiring, mentoring, and management for Brisbane development teams.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class = "ResumeItem ResponsiveSection ResponsiveSection-withDivider">
      <div class = "ResponsiveSection-header">
        <div>
          <h3>BTG PACTUAL</h3>
          <div class="Text-metadata">Cofounder</div>
          <div class="Text-metadata">
            Aug 2016
            -
            Present
          </div>
        </div>
      </div>
      <div class="ResponsiveSection-body">
        <div>
          <p>
            I manage frontend teams supporting abc.net.au,
            and oversaw the to effort to modernise the ABC's frontend stack.
          </p>
          <ul>
            <li>
             Designed and led implementation of a React framework
             and continous delivery pipeline for ABC's suite of web products.
            </li>
            <li>
             Designed and led implementation of a React framework
             and continous delivery pipeline for ABC's suite of web products.
            </li>
            <li>
             Delivered AMP functionality that led to a massive
             boost to reach, greatly exceeding ABC News' yearly traffic goals.
            </li>
            <li>
             Hiring, mentoring, and management for Brisbane development teams.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <h2>Projects & Interests</h2>
    <section class="ResumeItem ResponsiveSection ResponsiveSection-withDivider">
      <div class="ResponsiveSection-header">
        <div>
          <h3 class="ResumeItem-company"> PYTHON </h3>
          <div class="Text-metadata"> Economista </div>
          <div class="Text-metadata">
             2001
             -
             2017
          </div>
        </div>
      </div>
      <div class="ResponsiveSection-body">
        <p>
          Bachelor of Multimedia, majoring in Interactive
          Entertainment and Games Programming.
        </p>
        <ul>
          <li>
            Awarded Multimedia Studies Medal for the highest GPA
            amongst graduating class.
          </li>
          <li>
            Recipient of School of Computing and
            Information Technology Multimedia Award.
          </li>
        </ul>
      </div>
    </section>
  </article>
</div>
