<div class="form-container">
<%# <div class="row">
  <div class="col-md-3"> %>
    <%= link_to 'Back', books_path, class: 'back-btn' %>
    <h4 class="form-title">Edit book</h4>
    <div class="card">
      <div class="card-body">
        <%= render 'form', book: @book%>
      </div>
    </div>
  <%# </div>
</div> %>
</div>
