header {
  border-bottom: 3px dotted #f0f0f0;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 950px;
  margin: 2rem auto;
}

.navbar h1 .navbar-logo {
  color: #3394F6;
  font-weight: bold;
}

.navbar-logo {
  text-decoration: none;
  cursor: pointer;
}

.navbar .nav-list {
  /* width:250px; */
  height: auto;
  justify-content: center;
  align-items: center;
  max-width: 950px;
  margin: 0 auto;
  margin-right: 10px;
}

.nav-list .list-item {
    display: inline-block;
  }

.navbar .nav-list a {
  color: #45555e;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

nav .nav-list a:hover {
  color: #00b6fe;
}

.menu-line {
  width: 2rem;
  height: 0.3rem;
  background-color: #45555e;
  margin-bottom: 0.4rem;
}

.menu {
  display:none;
}


/* Media queries - Index Section */

@media only screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    position: relative;
    margin-bottom: 0.5rem;
  }

  .navbar .header-logo-container {
    width: 100%;
  }

  .menu {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    bottom:1rem;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    display:none;
  }

  .nav-list .list-item {
    display: block;
    border-top: 3px dotted #f0f0f0;
    padding: 1rem 1rem;
  }

  header h1 .header-logo {
    margin:1rem;
  }

  .active {
    display: block;
  }
}
